html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    &:hover {
        font-weight: inherit;
        line-height: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    padding: 0 40px;
    margin: 0 auto;
}

.header-small {
    background-image: url('../images/bg/contact-header-bg.jpg');
    background-position: top 0;
    & .header__title {
        font-size: 50px;
        background-image: none;
        margin-top: -30px;
        letter-spacing: 0;
    }
    & .header__subtitle {
        font-size: 25px;
        left: 52%;
    }
    & .header__text {
        display: none;
    }
    & .header__inner {
        min-height: auto;
    }
}

.border-block {
    border: 1px solid #fff;
}

.light-block {
    padding: 80px 0 120px;
}

.title {
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
}

.subtitle {
    font-family: 'Pacifico';
    font-size: 25px;
    line-height: 38px;
    position: absolute;
    left: 46%;
    color: $bordo;
}

.short-title {
    font-size: 23px;
    font-weight: 900;
}

.text {
    max-width: 380px;
    line-height: 22px;
}

.outline {
    outline: 1px solid #fff;
    outline-offset: -10px;
}

//------------------------------//
.outer {
    display: inline-block;
}

.inner {
    text-align: center;
    font-size: 16px;
}

.top-corner {
    position: relative;
}

.top-corner::before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid $lemon;
    border-left: 1px solid $lemon;
}

.top-corner::after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 1px solid $lemon;
    border-right: 1px solid $lemon;
}

.bottom-corner::before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid $lemon;
    border-left: 1px solid $lemon;
}

.bottom-corner::after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid $lemon;
    border-right: 1px solid $lemon;
}

.hide {
    &::before,
    &::after {
        opacity: 0;
    }
}

//------------------------------//
.btn {
    padding: 0;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
}

//------------------------------//
.top-corners {
    height: 100%;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/icons/corner-white.svg');
        transform: rotate(270deg);
        height: 10px;
        width: 10px;
        left: 0px;
        top: 0;
        z-index: 1;
    }
    &::after {
        content: '';
        position: absolute;
        background-image: url('../images/icons/corner-white.svg');
        transform: rotate(360deg);
        height: 10px;
        width: 10px;
        right: 0px;
        top: 0;
    }
}

.bottom-corners {
    position: relative;
    height: 100%;
    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/icons/corner-white.svg');
        transform: rotate(180deg);
        height: 10px;
        width: 10px;
        left: 0px;
        bottom: 0;
    }
    &::after {
        content: '';
        position: absolute;
        background-image: url('../images/icons/corner-white.svg');
        transform: rotate(90deg);
        height: 10px;
        width: 10px;
        right: 0px;
        bottom: 0;
    }
}

.lemon-corners {
    &::before,
    &::after {
        background-image: url('../images/icons/corner-lemon.svg');
    }
}

//------------------------------//